body {
    background:#5670BF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:21%;
    padding:10px;
    background: #BFB19F;
    margin:10px;
    margin-bottom: 30px;
    border-radius:5px;
    box-shadow: 5px 8px #202326

}
.assignment img{

    width:200px;
    border: 2px solid #788ABF;
    margin-right: 20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color: #202326;
    text-align:center;
}

a {
    text-decoration:none;
    color: #202326;
}
.assignment a:hover{
color: #5670BF;
}
